/* 채팅출력박스 */
#chatViewer{
  width: 600px;
  max-height: 525px;
  overflow-y: auto;
  background-color: rgb(165, 222, 240);
  border: 1px solid black;
  /* 스크롤 하단으로 내리는건 JS에 있음 */
}

/* 채팅메세지 정렬용 클래스 */
.justifyRight{/* 우측 붙임 */
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.justifyLeft{/* 좌측 붙임 */
  display: flex;
  flex-direction: row;
  justify-content: start;
}

/* 닉네임 <pre> */
.nameBoxPre{
  border-radius: 3px;
  background-color: rgb(150, 255, 150);
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
/* 채팅내용 <pre> */
.chatBodyPre{
  border-radius: 3px;
  background-color: yellow;
  padding: 5px;
  margin: 5px 5px 5px 15px;
  display: inline-block;
}
/* 입력시간 <pre> */
.chatDatePre{
  height: 10px;
  font-size: 0.5em;
}
