<footer>
  <p>Copyright &copy; KH Information Educational Institute A-Class</p>

  <article>
      <a href="#">프로젝트 소개</a>    
      <span>|</span>
      <a href="#">이용약관</a>    
      <span>|</span>
      <a href="#">개인정보처리방침</a>    
      <span>|</span>
      <a href="#">고객센터</a>    
  </article>
</footer>

<th:block th:replace="~{fragments/messageLayer}"></th:block>
<th:block th:replace= "~{fragments/confirmLayer}"></th:block>

<script th:inline="javascript">
  const message =  /*[[${message}]]*/ "전달 받은 message";
  if(message != null) {
    document.querySelector("#messageDiv").innerText = message;
    document.querySelector("#popupLayer").classList.remove("display-hidden");
  }
</script>
