<header>
  <section>
    <!-- 클릭 시 메인 페이지로 이동하는 로고 -->
    <a href="/" id="logoLink">
      <img src="/images/logo.jpg" alt="메인 로고" id="homeLogo">
    </a>
  </section>

  <!-- 검색어 입력할 수 있는 요소 배치 영역 -->
  <section>
    <article class="search-area">
      <form action="#" method="GET">
        <fieldset>

          <!-- autocomplete="off" : 자동완성 off -->
          <input type="search"
                 id="query"
                 name="query"
                 placeholder="검색어를 입력해 주세요."
                 autocomplete="off"
          >

          <!-- 제목 검색 -->
          <input type="hidden" name="key" value="t">

          <!-- 검색 버튼 -->
          <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>

        </fieldset>
      </form>

      <!-- 검색 결과 -->
      <ul id="searchResult" class="close"></ul>

    </article>
  </section>


  <!-- 해더 우측 섹션 -->
  <section>

    <!-- 우측 상단 로그인 / 드롭다운 메뉴 -->
     <div class="header-top-menu"><!-- 클래스명은 "-", ID는 카멜표기법 -->

      <!-- 로그인 X -->
      <th:block th:unless= "${session.loginMember}">
        <a href="/">메인 페이지</a>
        |
        <a href="/member/login">로그인</a>
      </th:block>

      <!-- 로그인 OK -->
      <th:block th:if="${session.loginMember}">
        
        <!-- input 체크박스의 라벨, 클릭시 input 클릭한것과 동일한 효과 -->
        <label for="headerMenuToggle">
          [[${session.loginMember.memberNickname}]]

          <i class="fa-solid fa-caret-down"></i>
        </label>

        <input type="checkbox" id="headerMenuToggle">

        <!-- 닉네임 클릭 시 보이는 메뉴 -->
        <div class="header-menu">
          <a href="#">내정보</a>
          <a href="/member/logout">로그아웃</a>
        </div>

      </th:block>


     </div>
  </section>


</header>


<!-- navigator -->
<nav>
  <ul>
    <li>
      <a href="#"><i class="fa-solid fa-newspaper"></i> 공지사항</a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-list"></i> 자유 게시판</a>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-lightbulb"></i> 질문 게시판</a>
    </li>
    <li>
      <a href="/fileUpload/main"><i class="fa-solid fa-image"></i> 업로드 연습</a>
    </li>
  </ul>
</nav>