<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/chatRoom.css">
</head>
<body>
  
  <main>


    <!-- 메인 페이지 내용  -->
    <section class="content">

      <section class="content-1">

        <div id="chatViewer">체팅 출력박스</div>

        <textarea rows="5" cols="50" id="inputChat" placeholder="체팅 입력박스"></textarea>
        <button id="sendChatting">보내기</button>
        <span id="memberNo" th:text="${loginMember.memberNo}"></span>

      </section>

  </main>

  <footer></footer>
  <script src="/js/chatRoom.js"></script>
</body>
</html>