<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="loginDiv">
    <form action="/member/insert" method="get">
      <input type="text" name="memberNickname">
      <button>입장</button>
    </form>
  </div>

  <section id="buttonsSection">
  <th:block th:each= "nickname : ${memberList}">
    <div class="divBox">
      <form action="/member/login" method="get">
        <button th:text="${nickname}">닉네임</button>
        <input type="hidden" name="memberNickname" th:value="${nickname}">
      </form>
    </div>
  </th:block>
</section>

  <!-- <div class="divBox">
    <form action="/member/login" method="get">
      <button>첫째돼지</button>
      <input type="hidden" name="memberNickname" value="첫째돼지">
    </form>
  </div>

  <div class="divBox">
    <form action="/member/login" method="get">
      <button>둘리</button>
      <input type="hidden" name="memberNickname" value="둘리">
    </form>
  </div> -->

</body>
</html>