<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- "연결할 Mapper 인터페이스 파일 경로(페키지 + 인터페이스 명) 작성 (필수)" -->
<mapper namespace="edu.kh.todolist.mapper.ChatMapper">

	<select id="getPassword" resultType="string">
		SELECT MEMBER_PASSWORD FROM CAHTMEMBER WHERE MEMBER_NICKNAME = #{memberNickname}
	</select>
	
	<select id="selectMember" resultType="ChatMember">
		SELECT *
		FROM CAHTMEMBER
		WHERE
			MEMBER_NICKNAME = #{memberNickname}
	</select>
	
	<select id="selectAllMember" resultType="string">
		SELECT MEMBER_NICKNAME
		FROM CAHTMEMBER
	</select>
	
	<insert id="insertChat">
		INSERT INTO
			CHAT_COMMON
		VALUES(
			SEQ_CHAT_NO.NEXTVAL,
			#{memberNo},
			#{chatBody},
			DEFAULT)
	</insert>
	
	<select id="selectChat" resultType="Chatting">
		SELECT
			CHAT_NO,
			MEMBER_NO,
			CHAT_BODY,
			TO_CHAR(CREATION_DATE, 'HH":"MI') CREATION_DATE
		FROM
			CHAT_COMMON
		ORDER BY CHAT_NO
	</select>
	
	<select id="selectName" resultType="string">
		SELECT
			MEMBER_NICKNAME
		FROM
			CAHTMEMBER
		WHERE
			MEMBER_NO = #{memberNo}
	</select>
	
	<insert id="insertMember">
		INSERT INTO
			CAHTMEMBER
		VALUES(
			SEQ_MEMBER_NO.NEXTVAL,
			#{memberNickname},
			1,
			DEFAULT)
	</insert>
	
</mapper>
