<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header>
    
  </header>
  
  <main>
    <section class="leftSideSec flexColumn">
      <div class="side-header flexColumn">
        <h1 class="green">Todo_List</h1>
        <h3>전체 Todo의 갯수 : <span id="totalCount" th:text="${listSize}"></span></h3>
        <h3>/ 완료된 Todo 갯수 :  <span id="completeCount">[[${completeCount}]]</span></h3>

      </div>
      <div class="flexColumn" id="listTable">
        <div class="flexRow">
          <div class="block listNo">번호</div>
          <div class="block todoTitle">할 일 제목</div>
          <div class="block todoComplete" id="completeOrder">완료 여부</div>
        </div>
  
        <div id="tbody">
          <th:block th:each= "todo :${todoList}" th:object="${todo}">
    
            <div class="flexRow tbodyRow">
              <div class="block listNo" th:text="*{listNo}">할일번호</div>
              <div class="block todoTitle"><a th:href="@{/todo/detail/{listNo}(listNo=*{listNo})}" th:text="*{todoTitle}" th:style="'color: ' + *{color}">할일제목</a></div>
              <div class="block todoComplete" th:text="*{complete}">완료여부</div>
            </div>
          </th:block>
        </div>
      </div>
      <div>
        <div class="flexColumn side-footer">
          <div>
            제목 : <input type="text" id="todoTitle"> 
          </div>
          <div>
            <textarea id="todoDetail" rows="3" cols="35" placeholder="상세 내용"></textarea>
          </div>
          <button id="addBtn" style="width: 80px;">추가</button>
        </div>
      </div>
    </section>


    <section class="rightSideSec flexRow">

      <div class="popup-hidden flexRow" id="popupLayer">
        <section class="popup-row flexColumn" id="todoListSec">
          <div class="popup-row">
            번호 : <span id="popupTodoNo"></span>
            | 
            제목 : <div class="canUpdate inlineBlock" id="popupTodoTitle"></div>
  
            <span id="popupClose">&times;</span>
          </div>
  
          <div class="popup-row">
            완료 여부 : <span id="popupComplete"></span>
            | 
            등록일 : <span id="popupRegDate"></span>
          </div>
  
          <div class="popup-row">
            Color : <input type="color" id="popupColor">
          </div>
  
          <div class="popup-row flexGrow2">
            [내용]
            <div class="canUpdate1" id="popupTodoContent"></div>
          </div>
  
        </section>
        <!-- 서브리스트목록 -->
        <section class="flexColumn" id="subListSec">
          <section class="flexRow">
            <section id="addSub">
              <!-- 세부항목 추가 -->
              <div>
                제목 : <input type="text" id="subjectTitle"> 
              </div>
              <div>
                <textarea id="subjectDetail" rows="3" cols="35" placeholder="상세 내용"></textarea>
                <button id="addBtn2">추가</button>
              </div>
  
            </section>
            <section class="btn-container">
              <button type="button" id="changeComplete">완료 여부 변경</button>
              <button type="button"  id="deleteBtn">전체삭제</button>
            </section>
          </section>
          <section id="subSection" class="flexColumn">
            <!-- 세부항목 목록 -->
            <section class="flexRow">
              <div class="subNum">번호</div>
              <div class="subTitle">제목</div>
              <div class="subComplete">완료여부</div>
            </section>
          
          </section>
          <section class="updateSec">
            <!-- subList 수정창 -->
            <div class="spaceBetween">
              <span id="updateSubNo"></span><span id="updateValue"></span><button id="subupdateBtn">수정</button>
            </div>
            <textarea rows="3" cols="55" id="updateSubject"></textarea>
          </section>
        </section>
        
      </div>

    </section>

  </main>



<!-- 메세지출력 -->
<th:block th:replace= "~{/fragments/messageAlert}"></th:block>

<script src="/js/main.js"></script>
</body>
</html>