<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header>
    <h1>Todo_List</h1>
    
    <h3>전체 Todo의 갯수 : <span id="totalCount" th:text="${listSize}"></span> / 완료된 Todo 갯수 :  <span id="completeCount">[[${completeCount}]]</span></h3>
    <hr>
  </header>

  <main>
    <h4>할 일 추가</h4>
    <!-- form 태그 요청은 무조건 동기식, 요청후 HTML 화면 새로 갱신됨 -->
    <div>
      <div class="BookkMyungjoBd">
        제목 : <input type="text" id="todoTitle"> 
      </div>
      <div>
        <textarea id="todoDetail" rows="3" cols="50" placeholder="상세 내용"></textarea>
      </div>
      <button class="BookkMyungjoBd" id="addBtn">추가</button>
    </div>

    <hr>
    <!-- 할 일 목록 출력 -->
    


  <section class="flexColumn">
    <div class="flexRow">
      <div class="block">번호</div>
      <div class="block">할 일 제목</div>
      <div class="block" id="completeOrder">완료 여부</div>
      <div class="block">등록 날짜</div>
      <div class="block">/</div>
    </div>

    <div id="tbody">
    <th:block th:each= "todo :${todoList}" th:object="${todo}">

      <div class="flexRow">
        <div class="block" th:text="*{listNo}">할일번호</div>
        <div class="block"><a th:href="@{/todo/detail/{listNo}(listNo=*{listNo})}"th:text="*{todoTitle}"th:style="'color: ' + *{color}">할일제목</a><input type="hidden" th:value="'/todo/detail/' + *{listNo}" class="detailHref"></div>
        <div class="block" th:text="*{complete}">완료여부</div>
        <div class="block regDate" th:text="*{regDate}">생성시간</div>
        <div class="block"><button class="detailBtn"  th:data-list-no="*{listNo}">v</button></div>
      </div>
      <div class="flexRow btnAnswer"></div>
    </th:block>
    </div>
  </section>




    
    <!-- 
      할 일 상세 조회 시 출력되는 화면 
      popup layer : 현재 페이지 위에 새로운 레이어를 띄우는 것
    -->
    <!-- 처음에 숨겨놓기 -->
    <div id="popupLayer" class="popup-hidden">
      <section class="popup-row">
        <div class="popup-row">
          번호 : <span id="popupTodoNo"></span>
          | 
          제목 : <span id="popupTodoTitle"></span>

          <span id="popupClose">&times;</span>
        </div>

        <div class="popup-row">
          완료 여부 : <span id="popupComplete"></span>
          | 
          등록일 : <span id="popupRegDate"></span>
        </div>

        <div>
          Color : <input type="color" id="popupColor">
        </div>

        <div class="popup-row">
          [내용]
          <div id="popupTodoContent"></div>
        </div>

        <div class="btn-container">
          <button id="changeComplete">완료 여부 변경</button>

          <button id="updateView">수정</button>

          <button id="deleteBtn">삭제</button>
        </div>
      </section>
      <section class="flexRow textCenter">
        <hr class="clickHr">
        ><br>><br>>
      </section>
      
    </div>

    <!-- 수정 팝업 레이어 (처음에 숨겨져 있음)-->
    <div id="updateLayer" class="popup-hidden">

      <section class="flexColumn">
        <div class="popup-row">
          제목 : <input type="text" id="updateTitle">
        </div>
        <div>
          글자색 : <input type="color" id="updateColor">
        </div>

        <div class="popup-row">
          <textarea id="updateContent" cols="50" rows="5"></textarea>
        </div>

        <div class="btn-container">
          <button id="updateBtn">수정</button>      
          <button id="updateCancel">취소</button>      
        </div>
      </section>

      <section>

      </section>
      
    </div>




  </main>

  <footer>
    <hr>

    <h3>Ajax 기초 연습 - todoNo(단일값) 일치하는 할 일의 제목(단일값) 얻어오기</h3>

    <input type="number" id="inputTodoNo">
    <button id="searchBtn">찾기</button>

    <hr>

    <h3>todoNo(단일값) 일치하는 할 일의 모든 정보(다수의값) 얻어오기</h3>
    <input type="number" id="inputTodoNo2">
    <button id="searchBtn2">찾기</button>

    <ul id="result2">

    </ul>


  </footer>








<!-- 정렬 저장용 숨은값 -->
<input type="hidden" name="order" th:value="${order} ?: 'none'">

<!-- 메세지출력 -->
<th:block th:replace= "~{/fragments/messageAlert}"></th:block>

<script src="/js/practice.js"></script>

<script src="/js/main.js"></script>
</body>
</html>