<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PathVariable 테스트</title>

  <style>
    code{
      border: 2px solid black;
      background-color: burlywood;
      min-width: 300px;
      padding: 20px;
      text-rendering: auto;
    }
  </style>
</head>
<body>

  <h1>PathVariable 테스트</h1>

  <hr>

  <h1 th:text="|@PathVariable로 받은 값 num: ${num}|"></h1>
  <h1 th:text="|@PathVariable로 받은 값 number: ${number}|"></h1>
  <pre>
    @pathvariable로 얻어온 값 html에서 사용하는 방법
    -> ${주소 {내부에 작성한 이름} }

    ex) /ex3/{number} -> ${number}
        /ex2/{string} -> ${string}
        /ex1/{userName} -> ${userName}
  </pre>
    <!-- footer.html 파일을 해당 위치에 출력 -->
    <th:block th:replace= "~{fragments/footer}"></th:block>
</body>
</html>